
services:
  - docker

script:
  #- docker build --target test --tag todo_app:test .
  #- docker run todo_app:test tests
  - docker build --target test --tag todo_app:test_e2e .
  #- docker run --env-file .env todo_app:test_e2e tests_e2e
  - docker run --env API_KEY --env API_TOKEN --env BOARD_ID --env TODO_LIST_ID --env DOING_LIST_ID --env DONE_LIST_ID --env FLASK_APP --env FLASK_ENV todo_app:test_e2e tests_e2e


